.footer
	.container-fluid
		.row
			.col-md-4.cajita
				.caja
					.logo.text-center
						img(src="assets/image/logo-grupo-la-republica.png")
					.contenido
						h3
							strong Grupo La Republica Digital
						ul.list-unstyled
							each val in ["Jr. Cámana 320 Cercaado de Lima", "Teléfono: 711-600", "(Central Teléfonica)"]
								li= val
						p Todos los derechos reservados- 2015
			.col-md-2.hidden-xs
				ul.list-unstyled.listas
					each val in ["Roger Fededer", "SBS", "Scarlett Johansson", "Scotiabank", "Selena Goméz", "Spiderman", "Sporting Cristal", "Sunat", "Telefonica del Perú", "The Walking Death", "Twitter","Universidad Cesar Vallejo", "Universidad San Martin", "Universidad de Deportes", "Xbox ", "Youtube", "Bayerm Munich", "Bayerm Munich", "BBVA", "Xbox", "BCP"]
						li= val
			.col-md-2.hidden-xs
				ul.list-unstyled.listas
					each val in ["Al fondo hay sitio", "Alejandro Toledo", "Alianza Lima", "Alianza Lima", "Banco de la Nación", "Barck Obama", "Universidad Cesar Vallejo", "Universidad San Martín", "Barcelona", "Barcelona", "Baryem Munich", "Baryem Munich","BBVA", "Xbox", "BCP", "batman", "Bayerm Munich", "Bayerm Munich", "BBVA", "Xbox", "BCP"]
						li= val
			.col-md-2.hidden-xs
				ul.list-unstyled.listas
					each val in ["One Direction", "ONPE", "Pablo Escobar", "Paolo Guerrero", "Pensión 65", "PNP", "Precio del dólar", "Universidad Cesar Vallejo", "Universidad San Martín", "Premier League", "Baryem Munich", "Baryem Munich","BBVA", "Xbox", "BCP", "Proyecto Conga", "PUCP", "Real Madrid", "Redes Sociales", "Renic", "Robert Pattinson"]
						li= val
			.col-md-2.hidden-xs
				ul.list-unstyled.listas
					each val in ["Al fondo hay sitio", "Alejandro Toledo", "Alianza Lima", "Alianza Lima", "Banco de la Nación", "Barck Obama", "Universidad Cesar Vallejo", "Baryem Munich","Barcelona", "Baryem Munich","BBVA", "Xbox", "BCP", "Universidad San Martin", "Barcelona", "Batman", "Bayerm Munich", "Bayerm Munich", "BBVA", "Xbox", "BCP"]
						li= val
.pie-pagina
	.container-fluid
		.row.text-center
			ul.list-unsyte.list-inline
					each val in ["Diarios del PAL:", "Clarin", "La Tercera", "El Universal", "Venezuela", "Vanguardia", "La Prensa", "El Salvador", "La Verdad", "Diario Libre", "Diario de Hoy","El Colombiano"]
						li= val
